@import "font.css";

body {
  font-family: 'TT Lakes', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F0F0F0;



.header {
  background-color: #FFFFFF;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.header__left {
  display: flex;
  align-items: center;
}

.btn {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.btn--burger {
  background: url('../img/burger.svg') no-repeat center;

}

.btn--main-page {
  background: url('../img/logo.svg') no-repeat center;
  width: 97px;
  height: 51px;
}

.header__right {
  display: flex;
  align-items: center;
}

.btn--call, .btn--chat, .btn--profile {
  display: none;
}

.btn--call {
  background: url('../img/call.svg') no-repeat center;
}

.btn--chat {
  background: url('../img/chat.svg') no-repeat center;
}

.btn--profile {
  background: url('../img/profile.svg') no-repeat center;
}

.btn--search {
  position: relative;
  margin-right: 10px;
  background: url('../img/checkstatus.svg') no-repeat center;
}

.header__right .btn--search::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  top: 5px;
  right: 50px;
}

.btn--repair {
  background: url('../img/repair.svg') no-repeat center;
}

.title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 800;
  color: #1B1C21;
  display: flex;
  align-items: center;
}

.btn-title {
  display: none;
}

.title::before {
  content: '';
  position: relative;
  right: 16px;
  background-color: #41F6D7;
  border-radius: 0 40% 40% 0;
  width: 4px;
  height: 40px;
}

main {
  background-color: #F0F0F0;
  padding: 20px;
}

.slide-menu {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  margin-bottom: 16px;
}

.slide-menu::after {
  content: '';
  position: absolute;
  right: 0;
  height: 40px;
  width: 24px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.slide-menu::-webkit-scrollbar {
  display: none;
}

.slide-menu__btn {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  border: none;
  background: none;
  padding: 8px 17px;
}

.slide-menu__btn:hover, .slide-menu__btn--active {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.slide-menu__btn--repair-brands,
.slide-menu__btn--feedback {
  display: flex;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-content__info {
  flex: 1 1 50%;
  max-width: 100%;
  padding-right: 20px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

article {
  overflow: hidden;
  max-height: 100px;
}

.btn--readmore {
  margin: 15px;
  height: 24px;
  width: 132px;
  border: none;
  background-color: #F0F0F0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.btn--readmore::before {
  position: absolute;
  content: url('../img/expand.svg');
  margin-left: -25px;
  margin-top: 2px;
}

.main-content__image {
  flex: 1 1 50%;
  max-width: 100%;
  align-self: center;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .btn--burger::before {
    content: '';
    width: 2px;
    height: 32px;
    background-color: #F0F0F0;
    position: absolute;
    top: 15px;
    left: 70px;
  }

  .btn--call, .btn--chat, .btn--profile {
    display: flex;
  }

  .btn--call {
    margin-right: 15px;
  }

  .btn--chat {
    margin-right: 15px;
  }

  .btn--profile {
    margin-right: 20px;
  }

  .btn--repair {
    margin-right: 10px;
  }

  article {
    min-height: 150px;
  }

  .main-content__image {
    max-width: 360px;
    max-height: 259px;
    margin-right: 40px;
    margin-top: 20px;
    border-radius: 5%;
  }

  .main-content__info {
    max-width: 312px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1120px) {
  body {
    display: flex;
    justify-content: center;
  }

  .header {
    display: none;
  }

  .slide-menu {
    flex-wrap: wrap;
  }

  .slide-menu__btn--additional-services {
    display: none;
  }

  article {
    overflow: hidden;
  }

  .main-content__info {
    min-height: 160px;
    max-width: 531px;
  }

  main {
    background-color: #F0F0F0;
    padding-top: 20px;
    max-width: 1120px;
  }

  .main-content {
    justify-content: center;
    flex-wrap: nowrap;
  }

  .main-content__image {
    width: 521px;
    height: 373px;
  }

  .header-1120 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    display: flex;
    white-space: nowrap;
  }

  .btn-title {
    display: flex;
    margin-right: 50px;
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .label--btn-repair,
  .label--btn-search {
    margin: 10px 10px 0 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .btn--repair, .label--btn-repair, .btn--search, .label--btn-search {
    position: relative;
  }
}}